# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/

# Swift Package Manager
.build/
*.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode build
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods (if ever used)
Pods/
